RewriteEngine On
RewriteBase /

# Load homepage from dist
RewriteRule ^$ dist/index.html [L]

# Allow direct access to dist files
RewriteCond %{REQUEST_URI} !^/dist/

# If file or folder doesn't exist, load from dist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ dist/$1 [L]