RewriteEngine On
RewriteBase /

# Redirect dist URLs to clean URLs
RewriteRule ^dist/(.*)$ /$1 [R=301,L]

# Homepage
RewriteRule ^$ dist/index.html [L]

# Load files from dist internally
RewriteCond %{REQUEST_URI} !^/dist/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ dist/$1 [L]